@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

$font-sans: "Source Sans Pro", sans-serif;

$font-mon: "Montserrat", sans-serif;

$gray-text: #5f727f;
$gray-bg-header: #f4f6f7;
$gray-row: #b6c6c9;
$gray-col: #f0f3f2;
$gray-pa: #99a9b5;
$blue-button: #00bcd4;
$black-button: #050505;
$black-bg: #212331;
$pink-any: #f50057;
